<div id= 'errorDiv' class='error'>
{{#if error}}
  <br><br> <h4 class="error"> {{error}} </h4><br><br>
{{/if}}
</div> <br>

<form method="POST" action="" name='signup'>
First Name: <input type="text" name="name" id="firstname"><br><br>
Last Name: <input type="text" name="name" id="firstname"><br><br>
Username: <input type="text" name="username" id="username"> <br><br>
Password: <input type="password" name="password" id="password"> <br> <br>
<button class="btn btn-primary" type="submit" value="Sign Up" name="userCheck" id='signUpBtn'>Sign Up </button><br><br>
</form>
