<a class="btn btn-danger" href="/logout" role="button" id='logout'>Logout</a> <br>
<h1>{{message}}</h1>
{{#if username}}
  <h1> <a class="btn btn-warning" href="/users/{{user.username}}" role="button">Back</a> </h1>
{{/if}}
