<div>
  <h6>  Connect with fellow dog enthusiasts <br>
    and help us create a community of dog owners! </h6> <br><br>
  <!-- <a class="btn btn-warning" href="/auth/facebook" role="button"> Facebook Login/Signup</a> <br><br> -->
  <p> If you've already created an account, login below: </p>
  {{#if error}}
  <h6 style="color:red;"> {{error}} </h6>
  {{/if}}
  <div class="form" class="col-lg-4 col-lg-offset-4">
    <form action="/login" method="POST">
      <div class="form-group ">
        <label for="username">Username:</label>
        <input type="text" name="username" class="form-control" id="username" required="true">
      </div>
      <div class="form-group ">
        <label for="password">Password:</label>
        <input type="password" name="password" class="form-control" id="password" required="true">
      </div>
      <button class="btn btn-warning" type="submit" value="Log In" id='logInBtn'> Login</button<br> <br>
  </form>
</div> <br> <br>

<div>
  <p> If you don't have an account yet, let's sign you up! </p>
  <a class="btn btn-warning" role="button" href = "/signup" id="signUpBtn">Create Account </a> <br> <br>
</div>

</div>
