
body{
  text-align:center !important;
  background-color: #FFFBD9 !important;
  color: #CC6600 !important;
}

.col-md-4{
  margin: auto;
}
.btn.btn-warning{
  color: #C13100;
}

#home {
  font-size: 100%
}

h1,h2,h3,h4,h5,h6{
  color: #FF9900;
}
/* #friends{
  height:100%;
  top:20px;
  left: 0px;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: orange;
} */

 #dogs {
  text-align: center;
}

.dogInfo{
  list-style-type: none;
}

/* #chat {
  top:20px;
  height:100%;
  right: 0px;
  box-sizing: border-box;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: orange;
}

#map {
  text-align: bottom;
} */
#login {
  margin: 0 auto;
  float: none;
}
#signup {
  margin: 0 auto;
  float: none;
}
a {
    color: blue;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: orange;
    background-color: transparent;
    text-decoration: underline;
}
a:active {
    color: pink;
    background-color: transparent;
    text-decoration: underline;
}
#lists{
  text-align: left;
}
table {
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	text-shadow: 1px 1px 0px #fff;
	background:#eaebec;
	margin:20px;
}
table th {
	padding:21px 25px 22px 25px;
	border-top:1px solid #fafafa;
	border-bottom:1px solid #e0e0e0;
	background: #ededed;
}
table, th, td {
   border: 1px solid black;
}

.error{
  text-color: red;
}
